[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impactflu"]
	path = impactflu
	url = https://github.com/khvorov45/impactflu
[submodule "sclr"]
	path = sclr
	url = https://github.com/khvorov45/sclr
